/* BEGIN RESET (Unchanged) */

html {
    color: #f0f0f0;
    background: #121212;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
del, ins {
    text-decoration: none;
}
li {
    margin-left: 20px;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: bold;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
sup {
    vertical-align: baseline;
}
sub {
    vertical-align: baseline;
}
legend {
    color: #f0f0f0;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {*font-size: 100%;
}
/* END RESET */

body {
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif; /* Modern font */
    background-color: #121212; /* Dark background */
    color: #f0f0f0; /* Light text */
}

code, tt {
    font-family: 'Courier New', monospace;
    font-size: 1.1em;
    color: #c3e88d; /* Soft green for code */
}

span.parameter { font-family:monospace; color: #ffcb6b; } /* Soft orange */
span.parameter:after { content:":"; }
span.types:before { content:"("; }
span.types:after { content:")"; }
.type { font-weight: bold; font-style:italic; color: #82aaff; } /* Blue for types */

body, p, td, th {
    font-size: .95em;
    line-height: 1.5em;
    color: #e0e0e0;
}

p, ul { margin: 10px 0 0 0px; }

strong { font-weight: bold; color: #8dcde8; }

em { font-style: italic; color: #f78c6c; }

h1 {
    font-size: 1.5em;
    margin: 20px 0 20px 0;
    color: #82aaff;
}
h2, h3, h4 {
    margin: 15px 0 10px 0;
    color: #89ddff;
}
h2 { font-size: 1.25em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.06em; }

a:link {
    font-weight: bold;
    color: #4fc3f7;
    text-decoration: none;
}
a:visited {
    font-weight: bold;
    color: #81d4fa;
    text-decoration: none;
}
a:link:hover { text-decoration: underline; color: #89ddff; }

hr {
    color: #424242;
    background: #0288d1;
    height: 1px;
}

blockquote {
    margin-left: 3em;
    color: #c792ea; /* Soft purple */
}

ul {
    list-style-type: disc;
}

p.name {
    font-family: "Andale Mono", monospace;
    padding-top: 1em;
}

pre {
    background-color: #1e1e1e; /* Darker block */
    border: 1px solid #424242;
    padding: 10px;
    margin: 10px 0 10px 0;
    overflow: auto;
    font-family: "Courier New", monospace;
    color: #e0e0e0;
    border-radius: 5px;
}

pre.example {
    font-size: .85em;
    background-color: #2a2a2a;
    color: #f0f0f0;
}

table.index { border: 1px solid #424242; }
table.index td { text-align: left; vertical-align: top; color: #f0f0f0; }

#container {
    margin-left: 1em;
    margin-right: 1em;
    background-color: #1e1e1e; /* Dark container */
    color: #e0e0e0;
}

#product {
    text-align: center;
    border-bottom: 1px solid #424242;
    background-color: #121212;
    color: #f0f0f0;
}

#product big {
    font-size: 2em;
    color: #82aaff;
}

#main {
    background-color: #1e1e1e;
    border-left: 2px solid #424242;
}

#navigation {
    float: left;
    width: 14em;
    vertical-align: top;
    background-color: #1e1e1e;
    overflow: visible;
    color: #f0f0f0;
}

#navigation h2 {
    background-color: #2a2a2a;
    font-size: 1.1em;
    color: #82aaff;
    text-align: left;
    padding: 0.2em;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
}

#navigation ul {
    font-size: 1em;
    list-style-type: none;
    margin: 1px 1px 10px 1px;
}

#navigation li {
    text-indent: -1em;
    display: block;
    margin: 3px 0px 0px 22px;
}

#navigation li li a {
    margin: 0px 3px 0px -1em;
    color: #81d4fa;
}

#content {
    margin-left: 14em;
    padding: 1em;
    width: 960px;
    border-left: 2px solid #424242;
    border-right: 2px solid #424242;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

#about {
    clear: both;
    padding: 5px;
    border-top: 2px solid #424242;
    background-color: #121212;
    color: #9e9e9e;
}

@media print {
    body {
        font: 12pt "Times New Roman", "TimeNR", Times, serif;
    }
    a { font-weight: bold; color: #4fc3f7; text-decoration: underline; }

    #main {
        background-color: #ffffff;
        border-left: 0px;
    }

    #container {
        margin-left: 2%;
        margin-right: 2%;
        background-color: #ffffff;
    }

    #content {
        padding: 1em;
        background-color: #ffffff;
    }

    #navigation {
        display: none;
    }
    pre.example {
        font-family: "Andale Mono", monospace;
        font-size: 10pt;
        page-break-inside: avoid;
    }
}

table.module_list {
    border-width: 1px;
    border-style: solid;
    border-color: #424242;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: #e0e0e0;
}
table.module_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #424242;
}
table.module_list td.name { background-color: #2a2a2a; min-width: 640px; }
table.module_list td.summary { width: 100%; }

table.function_list {
    border-width: 1px;
    border-style: solid;
    border-color: #424242;
    border-collapse: collapse;
    word-wrap: break-word;
    background-color: #1e1e1e;
    color: #e0e0e0;
}
table.function_list td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #424242;
    word-wrap: break-word;
}
table.function_list td.name { background-color: #2a2a2a; min-width: 640px; text-wrap: wrap}
table.function_list td.summary { width: 100%; }


ul.nowrap {
    overflow:auto;
    white-space:nowrap;
}

dl.table dt, dl.function dt {border-top: 1px solid #ccc; padding-top: 1em;}
dl.table dd, dl.function dd {padding-bottom: 1em; margin: 10px 0 0 20px;}
dl.table h3, dl.function h3 {font-size: .95em;}

/* stop sublists from having initial vertical space */
ul ul { margin-top: 0px; }
ol ul { margin-top: 0px; }
ol ol { margin-top: 0px; }
ul ol { margin-top: 0px; }

/* make the target distinct; helps when we're navigating to a function */
a:target + * {
  background-color: #efefd1;
    color: #272fc2;
}


/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #aa5050; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #8080ff; }
pre .number { color: #f8660d; }
pre .function-name { color: #a79ab8; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .user-keyword { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }
