--- {{ class_name }}: {{ description }}.
-- @module {{ module_name }}

local helpers = require('helpers')
{% if pointer_type -%}
    local constants = require('constants')
{% endif -%}

local r = reaper

local {{ class_name }} = {}


--- Create new {{ class_name }} instance.
{% if constructor_args %}
{% for arg, arg_type in constructor_args.items() %}
-- @param {{ arg }} {{ arg_type }}.
{% endfor -%}
{% endif -%}
-- @return {{ class_name }} table.
function {{ class_name }}:new({{ constructor_args.keys()|join(", ") }})
    local obj = {
    {% for arg in constructor_args.keys() %}
        {{ arg }} = {{ arg }},
    {%- endfor -%}
    {% if pointer_type -%}
        pointer_type = constants.PointerTypes.{{ pointer_type }}
    {% endif -%}
    }
    setmetatable(obj, self)
    self.__index = self
    return obj
end



--- Log messages with the {{ class_name }} logger.
-- @param ... (varargs) Messages to log.
function {{ class_name }}:log(...)
    local logger = helpers.log_func('{{ class_name }}')
    logger(...)
    return nil
end


{% for method in methods %}
    {{ method }}
{% endfor %}

return {{ class_name }}
